{% extends 'base.html' %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">

        <div class="row center">

            <h5>Network Alert Service</h5>
            <h5> ALERT LISTS: </h5>

            <table> 
                <tr>
                    <th>ID: </th>
                    <th>NAME: </th>
                    <th>NET: </th>
                    <th>Expires: </th>
                    <th>Triggers: </th>

                    {% for id in info %}
                <tr>
                    <td><strong>{{id['id']}}</strong></td>
                    <td><strong>{{id['name']}}</strong></td>
                    <td><strong>{{id['ip']}}</strong></td>
                    <td><strong>{{id['expires']}}</strong></td>
                    <td><strong>{{id['triggers']}}</strong></td>
                </tr>
                {% endfor %}
            </table>

            <br>
            <br> 

            <div class="backbutton"> 
                <a href="{{ url_for('main.alert_service') }}" class="btn btn-primary btn-lg px-4 gap-3 orange">Go Back</a>
            </div>


        </div>


    </div>
</div>

{% endblock %}