{% extends 'base.html' %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">

        <div class="row center">

            <h1>Network Alert Service</h1>
            <br>
            <p><strong>Alert Name:</strong> {{ name }}</p>
            <p><strong>Network:</strong> {{ net }}</p>
            <p><strong>Expires in:</strong> {{ expires }} min</p>

            <p><strong>Result: </strong> {{ message }} </p>

            <br>
            <br> 

            <div class="backbutton"> 
                <a href="{{ url_for('main.alert_service') }}" class="btn btn-primary btn-lg px-4 gap-3 orange">Go Back</a>
            </div>


        </div>


    </div>
</div>
    
{% endblock %}