<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shodan-Eye Vulnerability Scanning</title>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <style>
            .center-content {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh; /* Full height to center the content vertically */
            }

            .small-gap {
            margin-right: 5px; /* Adjust this value to control the gap */
        }
        </style>
      </head>
<body>
        <div class="container">
          <!-- Page Content goes here -->
          
            <div class="col s8 m4 center-align small-gap">
                <img src="{{ url_for('static', filename='images/images.png') }}" alt="Image Description" width="224" height="192", class="responsive-img">
            </div>
            <div class="col s8 m8 center-align">
                <h2>Shodan-Eye</h2>
            </div>
        
          
            
            <br> 
            <br> 
            <br>
            <div class="row">

                <div class="col s4">
                  <!-- Promo Content 1 goes here -->
                  
                  <div class="row">
                    <div class="col s12 m7">
                      <div class="card">
                        <div class="card-image center-align">
                          <i class="large material-icons">code</i>
                        </div>
                        <div class="card-content">
                          <span class="card-title">Card Title</span>
                          <p>I am a very simple card. I am good at containing small bits of information.
                          I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                          <a href="#">This is a link</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col s4">
                  <!-- Promo Content 2 goes here -->
                  
                  <div class="row">
                    <div class="col s12 m7">
                      <div class="card">
                        <div class="card-image center-align">
                          <i class="large material-icons">security</i>
                        </div>
                        <div class="card-content">
                          <span class="card-title">Card Title</span>
                          <p>I am a very simple card. I am good at containing small bits of information.
                          I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                          <a href="#">This is a link</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col s4">
                  <!-- Promo Content 3 goes here -->
                  
                  <div class="row">
                    <div class="col s12 m7">
                      <div class="card">
                        <div class="card-image center-align">
                          <i class="large material-icons">zoom_out_map</i>
                        </div>
                        <div class="card-content">
                          <span class="card-title">Card Title</span>
                          <p>I am a very simple card. I am good at containing small bits of information.
                          I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                          <a href="#">This is a link</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          
              </div>

            <br> 
            <br>
            <br>
            <br>
            <br>
              <!-- INSERT FORM FOR SEARCH -->
              <form action="{{url_for('search.search')}}" method="post">
                <div class="row">
                    <div class="input-field col s6">
                    <label for="ip_address">Ip Address</label>
                    <br>
                    <input id="ip_address" placeholder="Search on Shodan an IP TARGET..." id="ip_address" type="text" class="validate">
                    
                    </div>
                    <div class="input-field col s2">
                    <label for="range">Range di KM:</label>
                    <br>
                    <input id="range" type="text" class="validate" value="0">
                    </div>
                    <br>
                    <label for="name" class="form-label fw-bold fs-5">Immetti la tua query!</label>
                    <br>
                    <button class="btn waves-effect waves-light blue" type="submit">Submit
                        <i class="material-icons right blue">send</i>
                    </button>
                </div>
              </form>
              
        <br> 
        <br>
        <br>
        <br>
        <br>
                <!-- INSERT FORM FOR CREATE ALERT -->
                <form action="{{url_for('alert.create_alert')}}" method="post"> 
                  <div class="row">
                    <div class="input-field col s3">
                    <label for="name">Alert name</label>
                    <br>
                    <input id="name" pattern="[^ ]*" type="text" class="validate" required>
                    </div>
                    <div class="input-field col s">
                    <label for="net">Network:</label>
                    <br>
                    <input id="net" type="text" class="validate" required>
                    </div>
                    
                    <div class="input-field col s3"> 
                    <label for="expires">Tempo di scadenza (minuti):</label> 
                    <br>
                    <input type="number" id="expires" name="expires" min="1" value="60" required> 
                    </div>
                    <br>
                    <button class="btn-floating btn-large waves-effect waves-light blue" type="submit">
                      <i class="material-icons right blue">send</i>
                    </button>     
                  </div>
                </form>


        <br> 
        <br> 
        <br> 
              <!-- INSERT FORM FOR DELETE ALERT -->
              <form action="{{url_for('alert.delete_alert')}}" method="post"> 
              <div class="row">
                <div class="input-field col s5">
                <label for="name">Alert name</label>
                <br>
                <input id="name" pattern="[^ ]*" type="text" class="validate" required>
                </div>
               <br>
                <button class="btn-floating btn-large waves-effect waves-light blue center-align" type="submit">
                  <i class="material-icons right blue">delete</i>
                </button>     
            </div>
            </form>

            <br>
            <br>
            <!-- INSERT FORM FOR ALERT LIST -->
            <form action="{{url_for('alert.list')}}" method="post">
            <div class="lista center-align"> 
            <div class="row center-align">
              <br>
              <button class="btn-large waves-effect waves-light blue pulse" type="submit" name="action">ALERT ACTIVE
                <i class="material-icons left blue">filter_list</i>
              </button>
            
              </div>
              </div>
            </form>
        <br> 
        <br>
        <br>
        <br>
        <br>
          <div class="row">
            <div class="info center-align"> 
              <i class="medium material-icons">info</i>
              <a href="{{ url_for('main.about')}}">About us</a>
            </div>
          </div>
        

          <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
        </div> 
</body>
</html>
