{% extends "base.html" %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row center"> 
    <h3 class="header center orange-text">Login Page</h3>
    <div class="materialboxed">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="materialize-red-text">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="row center">
                <input type="email" name="email" placeholder="Your Email" style="max-width: 50;" size="50" autofocus="">
            </div>

            <div class="row center">
                    <input type="password" name="password" style="max-width: 50;" size="50" placeholder="Your Password">
            </div>

            <div class="row center">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
            </div>
            <div class="row center">
                <button class="btn waves-effect waves-light orange">Login</button>
            </div>
            
        </form>
    </div>
        </div>
    </div>
</div>
{% endblock %}