{% extends "base.html" %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
    <h3 class="header center orange-text">Sign Up</h3>
    <div class="materialboxed">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="materialize-red-text">
            {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <div class="row center">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="row center">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="row center">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <div class="row center">
                <button class="btn waves-effect waves-light orange">Sign Up</button>
            </div>
            
        </form>
    </div>
</div>
{% endblock %}