{% extends 'base.html' %}

{% block content %}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">

        <div class="row center">
           


            <div class="row center">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Image Description" width="100" height="90">
                <h1 class="header center orange-text">Shodan-Eye Vulnerability Scanning</h1>
            </div>
            
            <a href="https://github.com/theorly/shodan_blueprints" id="download-button" class="btn-large waves-effect waves-light orange">OPEN ON GITHUB Shodan-Eye Vulnerability Scanning!</a>  
            <br>
            <br> 

            <h5 class="header col s12 light">About our team!</h5>

            <div class="row">

                <div class="col s4">
                  <!-- Promo Content 1 goes here -->
                  
                  <div class="row">
                    <div class="col s12 m7">
                      <div class="card">
                        <div class="card-image center-align">
                          <i class="large material-icons">code</i>
                          <i class="large material-icons">security</i>
                        </div>
                        <div class="card-content">
                          <span class="card-title">Orlando De Bernardis</span>
                          <p>Developer and security operations.</p>
                        </div>
                        <div class="card-action">
                          <a href="https://github.com/theorly">@github TheOrly</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col s4">
                  <!-- Promo Content 2 goes here -->
                  
                  <div class="row">
                    <div class="col s12 m7">
                      <div class="card">
                        <div class="card-image center-align">
                          <i class="large material-icons">desktop_windows</i>
                          <i class="large material-icons">flag</i>
                        </div>
                        <div class="card-content">
                          <span class="card-title">Pierantonio Carrozzini</span>
                          <p>Monitoring and documentation operations.</p>
                        </div>
                        <div class="card-action">
                          <a href="https://github.com/PierCarrozzini">@github PierCarrozzini</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col s4">
                  <!-- Promo Content 3 goes here -->
                  
                  <div class="row">
                    <div class="col s12 m7">
                      <div class="card">
                        <div class="card-image center-align">
                          <i class="large material-icons">data_usage</i>
                          <i class="large material-icons">contact_phone</i>
                        </div>
                        <div class="card-content">
                          <span class="card-title">Luca Sambuchi</span>
                          <p>Database and telegram functionalities.</p>
                        </div>
                        <div class="card-action">
                          <a href="https://github.com/lucasambu">@github LucaSambu</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          
              </div>

        </div>



    </div>
</div>
    

{% endblock %}

